<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
    <!-- Module Properties -->
    <id>dhis</id>
    <name>dhis</name>
    <version>1.0-SNAPSHOT</version>
    <package>org.openmrs.module.dhis</package>
    <author>Bahmni</author>
    <description>
        Preview and Post data to DHIS2.
    </description>
    <require_version>1.9.8</require_version>
    <require_modules>
        <require_module version="2.10-SNAPSHOT">org.openmrs.module.webservices.rest</require_module>
    </require_modules>
    <activator>org.openmrs.module.dhis.activator.DhisActivator</activator>
    <!-- Required Modules -->
    <!-- Module Activator -->
    <!-- Internationalization -->
    <!-- All message codes should start with ${project.parent.artifactId}. -->
</module>

